<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{ flush.success }}
{{ article.getTitle }}
<br>
{{ article.getDescription }}
{{ article.getCreatedAt}}
    <form action="/article/{{ article.getId() }}/delete" method="POST" onsubmit="return confirmDelete()">
        <input type="hidden" name="delete" value="{{ article.getId() }}">
        <button type="submit" >Delete</button>
    </form>
<button>
    <a href="/article/{{ article.getId() }}/edit" style="text-decoration: none; color:inherit">edit</a>
</button>
<img src="{{article.getpicture }}">
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this article?");
    }
</script>

</body>
</html>

